<div class="section-bg text-center">
  <div class="container">
          <h2 class="title">Our Partners</h2>
          <div class="cap">
          <div class="row">
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="https://ancoengineers.com/?page_id=81" target="_blank">
                          <img height="26px" src="./assets/img/logo/anco_logo.png"></a>
                      </div>
                      <div class="description" >
                          <h4 class="info-title">ANCO Products</h4>
                          <a href="https://ancoengineers.com/?page_id=81" target="_blank"
                          class="btn btn-link btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productlmt" >
                          <img src="./assets/img/logo/lmt_logo.jpg"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">LMT</h4>
                          <a href="/#/productlmt"  class="btn btn-link btn-danger">See
                              more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productmessring" >
                          <img src="./assets/img/logo/messring_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">Messring-Passive</h4>
                          <a href="/#/productmessring"  
                          class="btn btn-link btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="http://4activesystems.at/en/" target="_blank">
                          <img src="./assets/img/4a_logo.png"> </a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">4Active</h4>
                          <a href="http://4activesystems.at/en/" target="_blank"
                          class="btn btn-link  btn-danger">See more</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-top: 40px;">
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon icon-danger">
                          <a href="/#/productargosy">
                          <img src="./assets/img/logo/argosy_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">Argosy International</h4>
                          <a href="/#/productargosy" class="btn btn-link btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productmessring">
                          <img src="./assets/img/logo/messring_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">MESSRING Active</h4>
                          <a href="/#/productmessring"
                          class="btn btn-link  btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productrotadata" >
                          <img src="./assets/img/rotadata_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">ROTADATA</h4>
                          <a href="/#/productrotadata" class="btn btn-link btn-danger"> See
                              more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="iocn">
                          <a href="/#/productroscom">
                          <img src="./assets/img/roscom_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">Roscom</h4>
                          <a href="/#/productroscom"
                          class="btn btn-link btn-danger"> See more</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-top: 40px;">
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon icon-danger">
                          <a href="/#/productanotronic">
                          <img src="./assets/img/anotronic2_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">Anotronic</h4>
                          <a href="/#/productanotronic"  
                          class="btn btn-link btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productrecsa"  >
                          <img src="./assets/img/tecsa_logo.png"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">TECSA</h4>
                          <a href="/#/productrecsa" 
                          class="btn btn-link  btn-danger">See more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productlanatus" >
                          <img src="./assets/img/lanatus_logo.jpg"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">LANATUS</h4>
                          <a href="/#/productlanatus" class="btn btn-link btn-danger">See
                              more</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/producttitan" >
                          <img src="./assets/img/titan_logo.jpg"></a>
                      </div>
                      <div class="description">
                          <h4 class="info-title">TITAN</h4>
                          <a href="/#/producttitan"
                          class="btn btn-link btn-danger"> See more</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>