<div class="section-bg text-center">
  <div class="container">
          <h2 class="title">Our Partners</h2>
          <div class="cap">
          <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/productmessring" >
                        <img src="./assets/img/logo/messring_logo.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/productlmt" >
                        <img src="./assets/img/logo/lmt_logo.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <a href="/#/productargosy">
                        <img src="./assets/img/logo/argosy_logo.png"></a>
                    </div>
                </div>
            </div>
              <div class="col-md-3">
                  <div class="info">
                      <div class="icon">
                          <a href="/#/productanco">
                          <img src="./assets/img/logo/anco_logo.png"></a>
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/productrotadata" >
                        <img src="./assets/img/logo/rotadata_logo.jpg"></a>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="iocn">
                        <a href="/#/productroscom">
                        <img src="./assets/img/logo/roscom_logo.png"></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <a href="/#/productanotronic">
                        <img src="./assets/img/logo/anotronic_logo.png"></a>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/productrecsa"  >
                        <img src="./assets/img/logo/tecsa_logo.png"></a>
                    </div>
                   
                </div>
            </div>
            
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/productlanatus" >
                        <img src="./assets/img/lanatus_logo.jpg"></a>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="/#/producttitan" >
                        <img src="./assets/img/logo/titan_logo.png"></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <a href="http://4activesystems.at/en/" target="_blank">
                        <img src="./assets/img/4a_logo.png"> </a>
                    </div>
                </div>
            </div> 
              
              
          </div>
        </div>
  </div>
</div>