
p, p a{
    font-size: 20px;
    color: #333;
    font-weight: 400;
    vertical-align: top;
    padding: 2px 0px 20px 0px;

}
p a span{
    padding: 5px 20px;
}
p img,p a, img.a{
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: text-top;
    width: 180px;
    height: 80px;
}
p a:hover{
    color: #9d162e;

}
video{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    
}
.videocontent{
   margin: 20px 0px;
   padding: 10px 0px;
   border-bottom: 2px solid #cccccc;

}
.figure {
    width: 800px;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.wp-block-video {
    margin-left: 0;
    margin-right: 0;
}
.page-header .filter::after{
    background-color: rgba(0, 0, 0, 0.0);

}