<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
            <h2 class="title">Video</h2>
            <h5 class="description" style="text-align: justify">
              CONCORD INTERNATIONAL provides Instrumentation Services to the various branches of Indian Industry. The Organisation is engaged in the marketing of Test and Measuring Equipments and represent reputed manufacturers from abroad exclusively in India.
              The Organisation has long standing association with major Industrial and Defence Establishments in India,  catering mainly to the following clientele:
              <div class="main" style="margin-top: 15px;">
                  <ul>
              <li>Indian Aerospace Industry</li>
          <li>Defence Research Development Organisation</li>
          <li>Department of Space</li> 
          <li>Automotive Industries</li>
           <li>Government Research and Development Establishments</li>
           <li> Public sector and Private sector Industries</li>
          </ul>
      </div>
    </h5>
        <h5  class="description" style="text-align: justify">Concord International represents in India the world renowned Companies engaged in manufacturing unique range of Instrumentation and Specialized Products related to the above-mentioned industries. 
        </h5>
        <h5  class="description" style="text-align: justify"> A close working relationship with our Principals along with the Customers is an important strategy that has allowed the company to establish firmly in the Indian Industry. This co-operation has promoted the development of mutually beneficial solutions resulting in the delivery of timely and cost effective critical instrumentation projects all over India.
        </h5>
          <h5  class="description" style="text-align: justify"> Concord India Services, a partner company of Concord International provides skill, ingenuity, experience and versatility in all aspects of  work. Training had been acquired from various Principals for rendering prompt Installation and Commissioning, after sales service, and this company has proved wide range of managerial, technical and commercial skills during the execution of projects wide spread over the country.
          </h5>
          
        </div>
    </div>
    </div>
  </div>


</div>
