<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/prod/showasokkibk.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section-bg-white">
    <div class="container product" style="color: #000;">
      <div class="titleimg">
        <h2 class="title" style="text-align: center;">
          <a href="http://www.showasokki.co.jp/index.html/" target="_blank">
            <img src="./assets/img/logo/lanatus_logo.jpg"></a>
        </h2>
      </div>
      <div class="row rowex">
        <div class="col-md-12 mr-auto ml-auto">
            <h3>SHOWA SOKKI </h3>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="prodcontainer">
            <div class="prodimg">
              <img src="./assets/prod/showasokki-prodiuct.jpg">
          </div>
          <div class="innerprodcontainer">
          <ul>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/01/index.html">Vibrometer / Portable</a></li>
            <li> <a  target="_blank" href="http://www.showasokki.co.jp/product/09/index.html">Charge Amplifier</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/02/index.html">Vibration Monitor / Vibro Converter / Vibro switch</a>
            </li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/04/index.html">Accelerometer / pick up</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/10/index.html">Recorder / Vibration waveform</a></li>

            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/07/8100.html">Calibrator / Calibration shaker</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/03/index.html">Portable Balancer / Field Balancer</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/13/1340b.html">Simple Impact Acceleration Vibrometer</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/06/index.html">Ultra small Vibrometer / Low Range Vibrometer</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/15/index.html">Elevator Vibrometer</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product/12/index.html">Explosion- proof Vibration Monitor</a></li>
            
          </ul>
          </div>
        </div>
        </div> 
      </div>
    </div>