<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
    <div class="filter"></div>
  </div>
  <div class="section-bg">
    <div class="container product" style="color: #000;">
      <div class="titleimg" style="padding-bottom: 40px;">
        <h2 class="title" style="text-align: center;">
          <a href="http://www.showasokki.co.jp/index.html/" target="_blank">
            <img src="./assets/img/lanatus_logo.jpg"></a>
        </h2>
        <h2 class="title" style="text-align: center;">LANATUS</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <ul>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1022a_e.html">Vibrometer with Analyzer</a></li>
            <li> <a href="http://www.showasokki.co.jp/product_e/1332b_e.html">Digital Display Vibrometer</a></li>
            <li> <a href="http://www.showasokki.co.jp/product_e/1340a_e.html">Peak Hold Type Digital Shockmeter</a>
            </li>
            <li> <a href="http://www.showasokki.co.jp/product_e/1422a_e.html">Low Frequency Vibrometer with Analyzer</a></li>
            <li> <a href="http://www.showasokki.co.jp/product_e/1500ex_e.html">Vibration Monitor for Explosive Atmospheres</a></li>

            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1607_e.html">Universal Vibration Meter</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1607A_e.html">Multi Channel Vibration Meter</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/4001b_e.html">Charge Amplifier for Pressure Measuring</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/4035_e.html">Charge Amplifier</a></li>
            <li> <a target="_blank" href="http://https://www.showasokki.co.jp/product_e/4001b_e.html">Dynamic Amplifier (GP-B)</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/4409_e.html">Vibration and Sound Level Measuring</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1200_e.html">Very Low Frequency Vibration Meter</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1500_e.html">Vibro-Switch</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/1590_e.html">Vibration Monitor</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/2502_e.html">Vibro-Converter for Accelerometer</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/2590b_e.html">Digital Vibration Monitor</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/7102a_e.html">Portable Balancer with Storobo-Scope</a></li>
            <li> <a target="_blank" href="http://www.showasokki.co.jp/product_e/7135_e.html">Auto Tracking Type Portable Balancer</a></li>
            <li> <a target="_blank" href="www.showasokki.co.jp/product_e/8100_e.html">Portable Vibration Calibrator</a></li>
            <li> <a target="_blank" href="www.showasokki.co.jp/product_e/7200_e.html">Portable Balancer</a></li>


          </ul>
        </div>
       
      </div>
    </div>