<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/prod/messringbk.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section-bg-white">

        <div class="container product" style="color: #000;">
            <div class="titleimg">
                <h2 class="title" style="text-align: center;">
                    <a href="https://www.messring.de" target="_blank">
                        <img src="./assets/img/logo/messring_logo.png"></a>
                </h2>   
            </div>
            <!-- <div class="prodimg">
                <img src="./assets/prod/M-STAR.jpg" alt="m-star">
            </div> -->
            <div class="row rowex">
                <div class="col-md-12 mr-auto ml-auto">
                    <h3>Messring – Passive Safety </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2"> Crash Test Facilities</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-crash-test-facilities.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/electric-propulsion-system/">Electric
                                        Propulsion System </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/hydraulic-propulsion-system/">Hydraulic
                                        Propulsion System </a></li>
                                <li> <a  target="_blank" href="https://www.messring.de/en/products/passive-safety/mobile-crash-block/">Crash
                                        block </a></li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/film-pit/">Film Pit</a>
                                </li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/micro-track-system/">MicroTrack
                                        System </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">Sled test facilities</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-sled-test-facilities.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/compact-impact-sled-cis/">CIS
                                        Compact Impact Sled</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-system-for-ece-r129/">ECE
                                        R129 sled test fixture</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-system-for-ece-r44/">ECE
                                        R44 sled test fixture</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-system-for-ece-r16/">ECE
                                        R16 sled test fixture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2"> Decelerator Sled Facility</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-decelerator-sled-facility.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/mbrake/">M=BRAKE </a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/hydrobrake/">HydroBrake</a>
                                </li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/msled/">M=Sled</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-system-for-ece-r44/">ECE
                                        R44 sled test fixture</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-system-for-ece-r16/">ECE
                                        R16 sled test fixture</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">LED Lightning Systems</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-led-lighting-systems.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/mlight-led-lighting-system/">M=LIGHT
                                        LED Lighting System</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/mlight-led/">M=LIGHT
                                        LED</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/msync-system/">M=SYNC
                                        System</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2"> Data Acquisition Systems</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-data-acquisition-systems.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/onboard-data-acquisition-system/">M=BUS®
                                        Data Acquisition System
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/onboard-data-acquisition-system/">M=
                                        BUS INDUMMY
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/onboard-data-acquisition-system/">M=BUS
                                        PRO ONBOARD
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/onboard-data-acquisition-system/">M=BUS
                                        LAB
                                    </a></li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/msync-system/">M=SYNC
                                        System</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">Transducers</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-transducers.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/mwall/">M=WALL
                                        Load Cell Wall</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-belt-load-cell/">Seat
                                        Belt
                                        Load Cell</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/seat-belt-displacement-transducer/">Seat
                                        Belt Displacement Transducer</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/laser-speed-trap/">Twin
                                        Beam
                                        Laser Speed Trap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">


            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="prodcontainer">
                        <h4 class="cap2"> Accessories</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-accessories1.jpg">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/flying-floor/">Flying
                                        Floor
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/static-rollover-test-system/">Static
                                        Rollover Test System
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/universal-rollover-sled/">Universal
                                        Rollover Sled
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/embankment-rollover-test-system/">Embankment
                                        Rollover Test System
                                    </a></li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/fixed-barriers/">Fixed
                                        Barriers</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-fmvss-214-and-fmvss-301r/">Moving
                                        Barrier FMVSS 214 and FMVSS 301R</a>
                                </li>
                                <li> <a target="_blank" href="https://www.messring.de/en/products/passive-safety/barrier-restrainer/">Barrier Restrainer</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/hydraulic-vehicle-brake-system/">Hydraulic
                                        Vehicle Brake System</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="prodcontainer">
                        <h4 class="cap2">Accessories</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-accessories2.jpg">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-fmvss-208/">Moving
                                        Barrier FMVSS 208</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-ece-r95/">Moving
                                        Barrier ECE R95</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-ece-r34-and-triass15/">Moving
                                        Barrier ECE R34 and TRIASS15</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-iihs/">Moving
                                        Barrier IIHS</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-nhtsa-omdb/">Moving
                                        Barrier NHTSA OMDB</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-ae-mdb/">Moving
                                        Barrier AE-MDB</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-mpdb-2/">Moving
                                        Barrier MPDB</a>
                                </li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/passive-safety/moving-barrier-rcar/">Moving
                                        Barrier RCAR</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowex">
                <div class="col-md-12 mr-auto ml-auto">
                    <h3>Messring-Active Safety </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2"> VRU Test Systems</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-vru-test-systems.png">
                        </div>

                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/astero-active-safety-robot/">ASTERO
                                        – Active Safety Test Robot
                                    </a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/6d-mover/">6D
                                        Target Mover
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">Monitoring & Tracking</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-monitoring-tracking.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/mstar/">M=STAR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">Weather Simulations Tools</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-Weather-Simulations-Tools.png">
                        </div>
                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/spraymaker/">SprayMaker
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-lg-3x">
                    <div class="prodcontainer">
                        <h4 class="cap2">Vehicle Test Systems</h4>
                        <div class="prodimg">
                            <img src="./assets/prod/messring-vehicle-test-systems.png">
                        </div>

                        <div class="innerprodcontainer">
                            <ul>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/euro-ncap-vehicle-target/">Euro
                                        NCAP Vehicle Target</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/nhtsa-vehicle-target-ssv/">NHTSA
                                        Vehicle Target (SSV)</a></li>
                                <li> <a target="_blank"
                                        href="https://www.messring.de/en/products/active-safety/nhtsa-ssv-fusion/">NHTSA
                                        SSV
                                        Fusion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>