<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/faces/charankumarbk2.png');">

  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
          <h2 class="title">Mr. B. Charan kumar </h2>
          <h3 class="title"> Managing Director </h3>
        </div>
        <div class="row">
          <div class="col-md-9 mr-auto ml-auto">

            <p>
              Charan Kumar was born in 1976 in Bangalore. After completing his E&C Diploma at Nettur Technical
              Training Foundation Bangalore he joined the company in 1997 and has been the Managing Director of Concord
              since 2008. 
              With over 2 decades of dedicated experience in the industry, he has been
              instrumental in accomplishing several projects in the Automotive R&D, DRDO and Scientific research centres
              in India
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>