<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
    <div class="filter"></div>
  </div>
  <div class="section-bg">
    <div class="container product" style="color: #000;">
      <div class="titleimg" style="padding-bottom: 40px;">
        <h2 class="title" style="text-align: center;">
          <a href="https://www.flowmeters.co.uk/" target="_blank">
            <img src="./assets/img/titan_logo.jpg"></a>
        </h2>
        <h2 class="title" style="text-align: center;">TITAN</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12" style="font-size: 32px;">
          <ul>
            <li> <a target="_blank" href="https://www.flowmeters.co.uk/metraflow-non-invasive-pfa-flow-meter-the-perfect-ultra-pure-water-flowmeter/">MetraFlow Non-Invasive PFA Flow Meter – The Perfect Ultra-Pure Water Flowmeter</a></li>
            <li> <a href="https://www.flowmeters.co.uk/ft2-turbine-flow-meter-optical-detection-radial-flow-multi-range-turbine-flowmeter/">FT2 Turbine Flow Meter: Optical Detection, Radial Flow, Multi-Range Turbine Flowmeter</a></li>
            <li> <a href="https://www.flowmeters.co.uk/high-pressure-oval-gear-flow-meters-high-performance-fluid-flowmeters/">High Pressure Oval Gear Flow Meters  High Performance, Low Cost Fluid-Flow Meter</a>
            </li>
            <li> <a href="https://www.flowmeters.co.uk/pulsite-solo-rate-totalising-flow-meter-battery-powered-digital-rate-and-total-indicator/">Pulsite Solo – Rate & Totalising Flow Meter: Battery Powered Digital Rate and Total Indicator</a></li>
         
          </ul>
        </div>
       
      </div>
    </div>