<nav class="navbar navbar-expand-lg" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand"  [routerLink]="['/home']">
                <img src="assets/img/wblogo100.png" class="img-rounded img-responsive">
                <span class="nc-hide" style="font-size:x-large;"> Concord International </span>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/aboutus']" class="nav-link" >About Us</a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>  Products</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">4Active</a>
                            <a class="dropdown-item">ANCO</a>
                            <a class="dropdown-item">LMT</a>
                            <a class="dropdown-item">Messring</a>
                        </div>
                    </div>
                </li>
               
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link">Services</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link">Publications</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link">Videos</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link">Brochures</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
