<nav class="navbar navbar-expand-lg" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home2']">
                <img src="assets/img/wblogo72.png" class="img-rounded img-responsive">
                <span class="nc-hide" style="font-size:x-large; font-family: 'Times New Roman';"> Concord International
                </span>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/aboutus']" (click)="onClickAboutus($event)"  class="aboutus nav-link menu">About Us</a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="product nav-link menu dropdown-toggle" (blur)="onfocusproduct($event)" (focus)="onfocusproduct($event)"
                         (click)="onClickProduct($event)" id="dropdownBasic1" ngbDropdownToggle>  Products</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a [routerLink]="['/productmessring']" class="dropdown-item">MESSRING</a>
                            <a [routerLink]="['/productlmt']" class="dropdown-item">LMT</a>
                            <a [routerLink]="['/productargosy']" class="dropdown-item">ARGOSY INTERNATIONAL</a>
                            <a [routerLink]="['/productanco']" class="dropdown-item">ANCO ENGINEERS INC</a>
                            <a [routerLink]="['/productrotadata']" class="dropdown-item">ROTADATA</a>
                            <a [routerLink]="['/productroscom']" class="dropdown-item">ROSCOM</a>
                            <a [routerLink]="['/productanotronic']" class="dropdown-item">ANOTRONIC</a>
                            <a [routerLink]="['/productrecsa']" class="dropdown-item">TECSA</a>
                            <a [routerLink]="['/productlanatus']" class="dropdown-item">SHOWA SOKKI</a>
                            <a [routerLink]="['/producttitan']" class="dropdown-item">TITAN</a>
                        </div>
                    </div>
                </li>

                <!-- <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="service nav-link menu">Services</a>
                </li> -->
                <li class="nav-item" >
                    <a [routerLink]="['/publication']" (click)="onClickPublication($event)" class="publication nav-link menu">Publications</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/video']" (click)="onClickVideo($event)" class="video nav-link menu">Videos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/brochure']" (click)="onClickVideo($event)"  class="brochure nav-link menu">Brochures</a>
                </li>
                <li class="nav-item">
                    <a href="http://post.concord.co.in" target="_blank"  class="brochure nav-link menu">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>