<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/about_us.png');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
            <h2 class="title">About Concord</h2>
            <h5 class="description" style="text-align: justify">
              CONCORD INTERNATIONAL incorporated in 1973 provides Instrumentation Services to the various sectors of Indian Industry. 
              The Company is engaged in the marketing of Test and Measuring Equipments and represents  
              several leading Principals based in Europe and USA, exclusively in India. 
              The Company  has long standing association with major Industrial and Defence Establishments in India,  including:
              <div class="main" style="margin-top: 15px;">
                  <ul>
              <li>Indian Aerospace Industry</li>
          <li>Defence Research Development Organisation</li>
          <li>Department of Space</li> 
          <li>Automotive Industries</li>
           <li>Government Research and Development Establishments</li>
           <li> Public sector and Private sector Industries</li>
          </ul>
      </div>
    </h5>
        <h5  class="description" style="text-align: justify">
          A close working relationship with our Principals along with the Customers is an important strategy that has 
          allowed the company to establish firmly in the Indian Industry. 
          This co-operation has promoted the development of mutually beneficial
           solutions resulting in the delivery of timely and cost effective critical instrumentation projects all over India.
          </h5>
          
        </div>
    </div>
    </div>
  </div>


</div>
