<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
    <div class="filter"></div>
  </div>
  <div class="section-bg">
    <div class="container product" style="color: #000;">
      <div class="titleimg" style="padding-bottom: 40px;">
        <h2 class="title" style="text-align: center;">
          <a href="http://www.anotronic.co.uk/machining/" target="_blank">
            <img src="./assets/img/anotronic_logo.png"></a>
        </h2>
        <h2 class="title" style="text-align: center;">Anotronic</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <ul>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/">Machining. Services</a></li>
            <li> <a href="http://www.anotronic.co.uk/machining/milling-2/">3/4/5 Axis CNC Milling </a></li>
            <li> <a href="http://www.anotronic.co.uk/machining/cnc-turnin/">CNC Turning</a>
            </li>
            <li> <a href="http://www.anotronic.co.uk/machining/cnc-wire-erosion/">CNC Wire Erosion</a></li>
            <li> <a href="http://www.anotronic.co.uk/machining/spark-eroding/">Spark Eroding</a></li>

            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/cnc-fast-hole-drilling/">CNC Fast Hole Drilling</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/electro-chemical-deburring/">Electro Chemical Deburring</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/cnc-grinding-2/">CNC Grinding</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/laser-engraving/">Laser Engraving</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/vibratory-finishing/"> Vibratory Finishing</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/inspection-2/">Inspection </a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machining/cad-software/"> Cad Software</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machine-sales/">Machine. Sales </a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machine-sales/edm-fhd/"> EDM Fast Hole Drills</a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machine-sales/edm-die-sinking/">EDM Die Sinking </a></li>
            <li> <a target="_blank" href="http://www.anotronic.co.uk/machine-sales/ecd/"> ECD. Electro-Chemical Deburring</a></li>

          </ul>
        </div>
       
      </div>
    </div>