<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/publications.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
          <h2 class="title">Publications</h2>
          <div class="main" style="margin-top: 45px;">
            <div class="row rowex">
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://www.messring.de/en/company/press-media/"> <img
                        src="./assets/img/logo/messring_logo.png" alt="MESSRING GMBH - GERMANY"> </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://www.lmt.de/de/aboutlmt.html"> <img
                        src="./assets/img/logo/lmt_logo.jpg" alt="LMT LICHTMESSTECHNIK GMBH - BERLIN"> </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowex">
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://www.argosyinternational.com/news/"> <img
                        src="./assets/img/logo/argosy_logo.png" alt="ARGOSY INTERNATIONAL - USA"> </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://ancoengineers.com/?page_id=1516"> <img
                        src="./assets/img/logo/anco_logo.png" alt="ANCO ENGINEERS INC – USA"> </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowex">

              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="http://4activesystems.at/en/company/terms-conditions.html"> <img
                        src="./assets/img/logo/4a_logo.png" alt="4activesystems"> </a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://www.rotadata.com/News/"> <img src="./assets/img/logo/rotadata_logo.jpg"
                        alt="ROTADATA LIMITED - UK"> </a>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="row rowex">
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://www.roscom-assurance.com/what-were-up-to/"> <img
                        src="./assets/img/logo/roscom_logo.png" alt="ROSCOM – UK"> </a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="https://twitter.com/anotronic"> <img src="./assets/img/logo/anotronic_logo.png"
                        alt="ANOTRONIC – UK"> </a>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="row rowex">
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank" href="http://www.showasokki.co.jp/qa/index.html"> <img
                        src="./assets/img/logo/lanatus_logo.jpg" alt="SHOWA SOKKI -JAPAN"> </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="outterbox">
                  <div class="info">
                    <a target="_blank"
                      href="https://www.flowmeters.co.uk/titan-flow-meters-customer-resources/#newsletter"> <img
                        src="./assets/img/logo/titan_logo.png" alt="TITAN ENTERPRICES"> </a>
                  </div>
                </div>
              </div>
             
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>