p, p a{
    font-size: 20px;
    color: #333;
    font-weight: 300;
}
p a:hover{
    color: #9d162e;

}

.page-header .filter::after{
    background-color: rgba(0, 0, 0, 0.0);

}
.outterbox{
    background-color: #979595;
    padding: 2px;
    border-radius: 10px;
   //background-image: linear-gradient(#9d162e, rgba(209, 10, 10, 0.733), #9d162e), linear-gradient(to left top, #9d162e 50%, #c2002f 50%);

}
.profile-content, .profile-content .main{
   // background-image: linear-gradient(#9d162e, rgba(209, 10, 10, 0.733), #9d162e), linear-gradient(to left top, #9d162e 50%, #c2002f 50%);
   // background-image: linear-gradient(#ffffff, rgba(255, 251, 251, 0.733), #ffdbdb), linear-gradient(to left bottom, #fdf7f8 50%, #f1c8cf 50%);

}
.info{
    border-radius: 10px;
border: 2px solid #c4c2c2;
background-color: #fff;
transition: transform .2s; /* Animation */
//background-image: url('../../../assets/img/publicationicon2.png');
//background-repeat: no-repeat;
height: 120px;
   // background-image: linear-gradient(#9d162e, rgba(209, 10, 10, 0.733), #9d162e), linear-gradient(to left top, #9d162e 50%, #c2002f 50%);
   padding: 10px 100px 20px;
   transition: transform .2s; /* Animation */

}
.info:hover{
    transform: scale(1.05);
    border: 0px solid #9d162e;

}
.rowex{
    margin: 20px 0px;
}