<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/publication3.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
          <h2 class="title">Publications</h2>
          <div class="main" style="margin-top: 15px;">
            <p> <a target="_blank" href="https://www.messring.de/en/company/press-media/">MESSRING GMBH - GERMANY</a>
            </p>
            <p> <a target="_blank" href="https://www.lmt.de/de/aboutlmt.html/">LMT LICHTMESSTECHNIK GMBH - BERLIN</a>
            </p>
            <p> <a target="_blank" href="https://www.argosyinternational.com/news/">ARGOSY INTERNATIONAL - USA</a></p>
            <p> <a target="_blank" href="https://www.rotadata.com/News/">ROTADATA LIMITED - UK</a></p>
            <p> <a target="_blank" href="https://www.roscom-assurance.com/what-were-up-to/">ROSCOM – UK</a></p>
            <p> <a target="_blank" href="https://twitter.com/anotronic">ANATRONIC – UK</a></p>
            <p> <a target="_blank" href="https://ancoengineers.com/?page_id=1516">ANCO ENGINEERS INC – USA </a></p>
            <p> <a target="_blank"
                href="https://www.flowmeters.co.uk/titan-flow-meters-customer-resources/#newsletter">TITAN ENTERPRICES
                LTD – UK </a></p>
            <p> <a target="_blank" href="http://www.showasokki.co.jp/qa/index.html">SHOWA SOKKI -JAPAN</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>