<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
    <div class="filter"></div>
  </div>
  <div class="section-bg">
    <div class="container product" style="color: #000;">
      <div class="titleimg" style="padding-bottom: 40px;">
        <h2 class="title" style="text-align: center;">
          <a href="http://www.showasokki.co.jp/index.html/" target="_blank">
            <img src="./assets/img/lanatus_logo.jpg"></a>
        </h2>
        <h2 class="title" style="text-align: center;">ANCO Engineers Inc, USA</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <ul>
            <li> <a target="_blank" href="https://ancoengineers.com/?page_id=139">SERVO HYDRAULIC TABLES</a></li>
            <li> <a href="https://ancoengineers.com/?page_id=141">ELECTRIC SHAKE TABLES</a></li>
            <li> <a href="https://ancoengineers.com/?page_id=145">PUBLIC EDUCATION TABLES</a>
            </li>
            <li> <a href="https://ancoengineers.com/?page_id=165">ECONOMICAL EDUCATION TABLES</a></li>
            <li> <a href="https://ancoengineers.com/?page_id=147">MOTION PLATFORMS</a></li>

            <li> <a target="_blank" href="https://ancoengineers.com/?page_id=149">ECCENTRIC MASS VIBRATORS </a></li>
            <li> <a target="_blank" href="https://ancoengineers.com/?page_id=153">GEOCENTRIFUGES</a></li>
            <li> <a target="_blank" href="https://ancoengineers.com/?page_id=161">STRUCTURAL LABS</a></li>
            <li> <a target="_blank" href="https://ancoengineers.com/?page_id=157">CUSTOM VIBRATION EQUIPMENT</a></li>
          </ul>
        </div>
       
      </div>
    </div>