<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/img1.png');">
    <div class="filter"></div>
  </div>
  <div class="section-bg">
    <div class="container product" style="color: #000;">
      <div class="titleimg" style="padding-bottom: 40px;">
        <h2 class="title" style="text-align: center;">
          <a href="https://www.roscom-assurance.com/" target="_blank">
            <img src="./assets/img/logo/roscom_logo.png"></a>
        </h2>
        <h2 class="title" style="text-align: center;">ROSCOM</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <ul>
            <li> <a target="_blank" href="https://www.roscom-assurance.com/telecoms/">Telecoms</a></li>
            <li> <a href="https://www.roscom-assurance.com/telecoms/">Revenue And Margin Assurance </a></li>
            <li> <a href="https://www.roscom-assurance.com/qos-qoe-service-integrity/">Qos / Qoe Service Integrity</a>
            </li>
            <li> <a href="https://www.roscom-assurance.com/fintech/">Fintech</a></li>
            <li> <a href="https://www.roscom-assurance.com/power-and-utilities/">Power And Utilities</a></li>

            <li> <a target="_blank" href="https://www.roscom-assurance.com/e-commerce/">E-Commerce</a></li>
            <li> <a target="_blank" href="https://www.roscom-assurance.com/technology-and-tools/">Technology And Tools</a></li>
            <li> <a target="_blank" href="https://www.roscom-assurance.com/pricing/">Pricing</a></li>

          </ul>
        </div>
       
      </div>
    </div>