<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/cur/10_ROTADATA_Turbine_Instrumentation.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section-bg-white">
    <div class="container product" style="color: #000;">
      <div class="titleimg">
        <h2 class="title" style="text-align: center;">
          <a href="https://www.rotadata.com" target="_blank">
            <img src="./assets/img/logo/rotadata_logo.jpg"></a>
        </h2>
      </div>
      <div class="row rowex">
        <div class="col-md-12 mr-auto ml-auto">
            <h3>ROTADATA LTD. U.K.</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="prodcontainer">
            <div class="prodimg">
              <img src="./assets/prod/rotadata-turbine-optical-pyrometry-systems.jpg">
          </div>
          <div class="innerprodcontainer">
          <ul>
            <li> <a target="_blank" href="https://www.rotadata.com/Turbine_Optical_Pyrometry_Systems">Turbine optical
                pyrometry systems</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Blade_Tip_Timing_Data_Acquisition_System">Blade tip timing </a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Blade_Tip_Clearance_Data_Acquisition_System">Blade tip clearance</a>
            </li>
            <li> <a target="_blank" href="https://www.rotadata.com/Digital_Telemetry_Systems">Digital telemetry systems</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Probe_Traverse_Systems">Probe traversing systems</a></li>

            <li> <a target="_blank" target="_blank" href="https://www.rotadata.com/CNC-Milling">CNC Milling</a></li>
            <li> <a target="_blank" target="_blank" href="https://www.rotadata.com/CNC-Turning">CNC Turning</a></li>
            <li> <a target="_blank" target="_blank" href="https://www.rotadata.com/Fast-Hole-Erosion">Fast Hole Erosion</a></li>

          </ul>
          </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="prodcontainer">
            <div class="prodimg">
              <img src="./assets/prod/rotadata-thermal-spray-application.jpg">
          </div>
          <div class="innerprodcontainer">
          <ul>
            <li> <a target="_blank" href="https://www.rotadata.com/Thermal_Spray_Application">Thermal spray
                application</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Uniform_Crystal_Temperature_Sensors">Uniform crystal
                temperature sensors</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Strain_Gauge_Application">Strain gauge
                application</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Turbomachinery-Gas-Measurement-Rakes">Gas Measurement
                Rakes</a></li>

            <li> <a target="_blank" href="https://www.rotadata.com/Turbomachinery-Gas-Sampling-Probes">Gas Sampling
                Probes</a></li>

            <li> <a target="_blank" href="https://www.rotadata.com/Kiel-Measurement-Probes">Kiel measurement probes</a>
            </li>
            <li> <a target="_blank" href="https://www.rotadata.com/Spark-Electrical-Discharge-Machining">Spark
                Electrical Discharge Machining</a></li>
            <li> <a target="_blank" href="https://www.rotadata.com/Wire-Electrical-Discharge-Machining">WireElectrical
                Discharge Machining</a></li>

          </ul>
          </div>
          </div>
        </div>
      </div>
    </div>