<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/prod/tecsabk.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section-bg-white">
    <div class="container product" style="color: #000;">
      <div class="titleimg">
        <h2 class="title" style="text-align: center;">
          <a href="https://www.tecsa-srl.it/" target="_blank">
            <img src="./assets/img/logo/tecsa_logo.png"></a>
        </h2>
      </div>
      <div class="row rowex">
        <div class="col-md-12 mr-auto ml-auto">
            <h3>TECSA</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="prodcontainer">
          <h4 class="cap2"> Quality Test </h4>
          <div class="prodimg">
            <img src="./assets/prod/tecsa-quality-test.jpg">
        </div>
        <div class="innerprodcontainer">
          <ul>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/friction-quality-test-1200/">FQT 1200</a></li>
            <li> <a href="https://www.tecsa-srl.it/friction-quality-test-2000/">FQT 2000 </a></li>
            <li> <a href="https://www.tecsa-srl.it/shear-strenght-test-machine/">SST</a></li>
          </ul>
          </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="prodcontainer">
          <h4 class="cap2"> Dynamometers </h4>
          <div class="prodimg">
            <img src="./assets/prod/tecsa-AT-7000-1.jpg">
        </div>
        <div class="innerprodcontainer">
          <ul>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/mini-dyno-50/">MD 50</a></li>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/mini-dyno-80/">MD 80</a></li>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/car-test-bench-185/">TC 185</a></li>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/car-test-bench-225/">TC 225</a></li>
            <li> <a target="_blank" href="https://www.tecsa-srl.it/truck-test-bench-2200/">TT 2200</a></li>
          </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="row rowex">
        <div class="col-md-12 mr-auto ml-auto">
          <h3> <a target="_blank" href="https://www.tecsa-srl.it/macchine-speciali/">Special machines</a></h3>
        </div>
    </div>
    <div class="row rowex">
      <div class="col-md-12 mr-auto ml-auto">
        <h3> <a target="_blank" href="https://www.tecsa-srl.it/revamping-prove-banchi-freni/">Revamping of brake test benches</a></h3>
      </div>
  </div>
    </div>