<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
      style="background-image: url('./assets/cur/argosy_international_deformable_crash_barrier.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section-bg">
      <div class="container product" style="color: #000;">
         <div class="titleimg">
          <h2 class="title" style="text-align: center;">
            <a href="https://www.argosyinternational.com/products/" target="_blank">
              <img src="./assets/img/logo/argosy_logo.png"></a>
             </h2>
             <h2 class="title" style="text-align: center;">ARGOSY INTERNATIONAL</h2>
            </div>
          <div class="row">
              <div class="col-lg-6 col-md-12">
                 
                  <h4 class="cap2"> <a target ="_blank" href="https://www.argosyinternational.com/products/crash-test-barriers/"> Crash Test Barriers </a></h4>
                  <ul>
                      <li> <a target="_blank"
                              href="https://www.argosyinternational.com/products/crash-test-barriers/odb-frontal-impact-barrier/">ODB Frontal Impact Barrier</a></li>
                      <li> <a href="https://www.argosyinternational.com/products/crash-test-barriers/mdb-r95-side-impact-barrier/">MDB-R95 Adv. 2000 Side Impact Barrier </a></li>
                      <li> <a href="https://www.argosyinternational.com/products/crash-test-barriers/nhtsa-fmvss-214-side-impact-barrier/">NHTSA FMVSS-214 Side Impact Barrier</a></li>
                      <li> <a href="https://www.argosyinternational.com/products/crash-test-barriers/ae-mdb-crash-test-barrier/">AE-MDB Side Impact Barrier</a></li>
                      <li> <a href="https://www.argosyinternational.com/products/crash-test-barriers/mobile-progressive-deformable-barrier/">M-PDB Mobile Progressive Deformable Barrier</a></li>

                  </ul>
              </div>
              <div class="col-lg-6 col-md-12">
                  <h4 class="cap2"> Energy Absorbers </h4>
                  <ul>
                      <li> <a target="_blank"
                              href="https://www.argosyinternational.com/products/energy-absorbers/atd-aluminum-honeycomb-energy-absorber/">ATD Energy Absorber</a></li>
                      <li> <a target="_blank"
                              href="https://www.argosyinternational.com/products/energy-absorbers/flex-pli-aluminum-honeycomb-energy-absorber/">FLEX-PLI Energy Absorber</a></li>
                      
                  </ul>
              </div>
          </div> 
      </div>