<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/faces/founderbkright.png');">
      
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">
            <h2 class="title">K.T. Ravindranath </h2>
            <h3 class="title">Founder President </h3>
      </div>
      <div class="row">
        <div class="col-md-9 mr-auto ml-auto">

        <p>
          K.T. Ravindranath founded Concord International, which was incorporated in 1973.
         Ravindranath was born in Kerala on 1st January, 1941. He attended Municipal High School, 
         Kannur, after which he completed BSc Engineering (Electrical) from College of Engineering, 
         Thiruvananthapuram in 1965. During his time at College of Engineering, he was actively involved in NCC. 
         After spending a few years working for Toshniwal Bros (Pvt.Ltd), Chennai, in 1973, 
         he went on to start Concord International based in Bangalore. He was a self-made, 
         self-driven and motivated entrepreneur and a visionary who took firm, decisive 
         decisions which spearheaded Concord International to its current success.  Ravindranath’s life was steered by his 
         righteousness, integrity, honesty and generosity. He constantly thrived to support and mentor his colleagues 
         and grow his company.
        </p>
        <p>
          Ravindranath sadly passed away on 10th March, 2016. However, 
          he will always be remembered and his values and ideals will continue to guide our business.
        </p>

        </div>
      </div>
    </div>
    </div>
  </div>


</div>
