<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
      style="background-image: url('./assets/prod/4abk.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section-bg-white">
      <div class="container product" style="color: #000;">
          <div class="titleimg">
              <h2 class="title" style="text-align: center;">
                  <a href="http://www.4activesystems.at/en/" target="_blank">
                      <img src="../assets/img/logo/4a_logo.png"></a>
              </h2>
          </div>
          <!-- <div class="prodcapimg">
              <img src="./assets/prod/lmtbk.jpg" alt="m-star">
          </div> -->

          <div class="rowex">
              <h3>  <a target="_blank" href="http://www.4activesystems.at/en/">4<span style="font-weight: 400; font-size: 38px;">a</span>ctive SYSTEMS</a> </h3>
                  <div class="row">
                      <div class="col-lg-6 col-md-12">
                          <div class="prodcontainer">
                              <h4 > DUMMIES </h4>
                              <div class="prodimg">
                                  <img src="/assets/prod/4activePS.jpg" alt="Illuminance Meters">
                              </div>
                              <div class="innerprodcontainer">
                              <ul>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeps.html">4activePS
                                      </a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activepa.html">4activePA
                                      </a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeht.html">4activeHT</a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activebs.html">4activeBS
                                      </a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activemc.html">4activeMC
                                      </a></li>
                                      <li> <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activec2.html">4activeC2
                                      </a></li>

                              </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="prodcontainer">
                              <h4> TEST EQUIPMENTS </h4>
                              <div class="prodimg">
                                  <img src="/assets/prod/4activeXB.jpg" alt="Illuminance Meters">
                              </div>
                              <div class="innerprodcontainer">
                              <ul>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activesb.html">4activeSB</a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activexb.html">4activeXB</a></li>
                                  <li> <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activefb.html">4activeFB</a>
                                  </li>

                              </ul>
                          </div>
                          </div>

                      </div>
              </div>
          </div>

         
  </div>
</div>
</div>