<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
      style="background-image: url('./assets/prod/4abk.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section-bg-white">
      <div class="container product" style="color: #000;">
          <div class="titleimg">
              <h2 class="title" style="text-align: center;">
                  <a href="http://www.4activesystems.at/en/" target="_blank">
                      <img src="../assets/img/logo/4a_logo.png"></a>
              </h2>
          </div>
          <!-- <div class="prodcapimg">
              <img src="./assets/prod/lmtbk.jpg" alt="m-star">
          </div> -->

          <div class="rowex">
              <h3>  DUMMIES </h3>
                  <div class="row">
                      <div class="col-lg-3 col-md-12 col-lg-3x">
                          <div class="prodcontainer">
                              <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeps.html">4activePS
                              </a> </h4>
                              <div class="prodimg">
                                <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeps.html">  <img src="/assets/prod/4activePS.jpg" alt="Illuminance Meters">
                                </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activepa.html">4activePA
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activepa.html">  <img src="/assets/prod/4activePA.jpg" alt="4activePA">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeht.html">4activeHT
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activeht.html">  <img src="/assets/prod/4activeHT.jpg" alt="4activeHT.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activebs.html">4activeBS
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activebs.html">  <img src="/assets/prod/4activeBS.jpg" alt="4activeHT.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activemc.html">4activeMC
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activemc.html">  <img src="/assets/prod/4activeMC.jpg" alt="4activeMC.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activec2.html">4activeC2
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/dummies/4activec2.html">  <img src="/assets/prod/4activeC2.jpg" alt="4activeC2.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
              </div>
          </div>

          <div class="rowex">
            <h3>  TEST EQUIPMENTS </h3>
                <div class="row">    
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activesb.html">4activeSB
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activesb.html">  <img src="/assets/prod/4activeSB.jpg" alt="4activeSB.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activexb.html">4activeXB
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activexb.html">  <img src="/assets/prod/4activeXB.jpg" alt="4activeXB.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activefb.html">4activeFB
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://www.4activesystems.at/en/products/test-equipment/4activefb.html">  <img src="/assets/prod/4activeFB.jpg" alt="4activeFB.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                 </div>
        </div>  

        <div class="rowex">
            <h3>  SERVICES </h3>
                <div class="row">    
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://4activesystems.at/en/services/leasing.html">Leasing
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://4activesystems.at/en/services/leasing.html">  <img src="/assets/prod/Leasing.jpg" alt="Leasing.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-lg-3x">
                        <div class="prodcontainer">
                            <h4 >  <a target="_blank" href="http://4activesystems.at/en/services/r-d.html">R&D
                            </a> </h4>
                            <div class="prodimg">
                              <a target="_blank" href="http://4activesystems.at/en/services/r-d.html">  <img src="/assets/prod/RDlaboratory.jpg" alt="RDlaboratory.jpg">
                              </a>
                            </div>
                        </div>
                    </div>
                   
                 </div>
        </div> 
  </div>
</div>
</div>