<footer class="footer" style="background-color: #222;color: #afafaf;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Contact</h3>
                    <div>
                    <h6>CONCORD INTERNATIONAL</h6>
                    <p>#529, 9th Cross, 30th Main</p>
                <p>HSR Layout Sector 1 </p>
                <p>Bangalore - 560102 </p>
                    <p>INDIA </p>
                    <p>Tel: +91 80 22587873 </p>
                    <p>Fax: +91 80 22587973 </p>
                    <p>Mob: +91 9886638296 </p>
                <p><a href="mailto:concord@concord.co.in" target="_blank">
                        Email: concord@concord.co.in
                    </a></p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <br />
                    <br />
                    <br />
                    <h6>CONCORD INDIA SERVICES</h6>
                    <p>#529, 9th Cross, 30th Main </p>
                    <p>HSR Layout Sector 1 </p>
                    <p>Bangalore - 560102 </p>
                    <p>INDIA </p>
                    <p>Tel: +91 80 22587873 </p>
                    <p>Fax: +91 80 22587973 </p>
                    <p>Mob: +91 9886638296</p>
                    <p><a href="mailto:concord@concord.co.in" target="_blank">
                        Email: concord@concord.co.in
                    </a></p>

                </div>

            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Company</h3>
                    <div>
                        <p><a href="#">About Us</a></p>
                        <p><a href="#">Products</a></p>
                        <p><a href="#">Services</a></p>
                        <p><a href="#">Customers</a></p>
                        <p><a href="#">ANCO</a></p>
                        <p><a href="#">4Active</a></p>
                        <p><a href="#">LMT</a></p>
                        <p><a href="#">Messring</a></p>

                    </div>
                </div>
            </div>

           
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title" style="text-align: right;text-orientation: sideways-right;">
                    <div class="mr-auto ml-auto" style="margin-top:60px ;">
                        <img src="assets/img/btlogo.png" width="200" height="200" class="img-no-padding img-responsive">
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<div class="navigation-example">
    <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
            <img src="assets/img/wlogotrans.png" width="50" height="40" class="img-no-padding img-responsive"
                alt=""> <span class="copyright">© 2020 </span>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-transparent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                            Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>