<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="tim-title">
                    <h3>Contact</h3>
                    <div>
                    <h6> CONCORD INTERNATIONAL  <span style="padding-left: 5px;"> / </span> <span style="padding-left: 5px;">CONCORD INDIA SERVICES</span></h6>
                    <p>#529, 9th Cross, 30th Main, HSR Layout Sector 1</p>
                <p>Bangalore - 560102 </p>
                    <p>INDIA </p>
                    <p>Tel: +91 80 22587873 </p>
                    <p>Mob: +91 9886638296 </p>
                <p><a href="mailto:concord@concord.co.in" target="_blank">
                        Email: concord@concord.co.in
                    </a></p>
                    </div>
                </div>

            </div>
           
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Company</h3>
                    <div>
                        <p><a [routerLink]="['/aboutus']">About Us</a></p>
                        <p><a [routerLink]="['/product']">Products</a></p>
                        <p><a href="#">Services</a></p>
                        <p><a [routerLink]="['/publication']">Publications</a></p>
                        <p><a [routerLink]="['/video']">Videos</a></p>
                        <p><a [routerLink]="['/brochure']">Brochures</a></p>
</div>
                </div>
            </div>

           
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title" style="text-align:center;text-orientation: sideways-center;">
                    <div class="mr-auto ml-auto" style="margin-top:60px ;">
                        <img src="assets/img/btlogo.png" width="200" height="200" class="img-no-padding img-responsive">
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<div class="navigation-example">
    <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
            <img src="assets/img/wlogotrans.png" width="50" height="40" class="img-no-padding img-responsive"
                alt=""> <span class="copyright">© 2020 </span>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-transparent">
                <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                            Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>
</div>