<div class="card page-carousel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="./assets/cur/1MESSRING_Compac_ Impact_Sled.jpg" style="border-radius:0px"
                alt="Random first slide">
            <div class="carousel-caption">
                <p>MESSRING Compact Impact Sled</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/2_MESSRING_M_LIGHT.jpg" style="border-radius:0px" alt="Random first slide">
            <div class="carousel-caption">
                <p>MESSRING M=LIGHT</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/3MESSRING_Movable_Impact_Block.jpg" style="border-radius:0px"
                alt="Random first slide">
            <div class="carousel-caption">
                <p>MESSRING Movable Impact Block</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/M-STAR-ASTERO-AUTO.jpg" style="border-radius:0px" alt="Random first slide">
            <div class="carousel-caption">
                <p>ASTERO AUTO & M=STAR</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/6_LMT_Metrogon_Robotic_Gonio.jpg" style="border-radius:0px" alt="Random first slide">
            <div class="carousel-caption">
                <p>LMT Metrogon Robotic Gonio & LMT Goniophotometer Type A </p>
            </div>
        </ng-template>
        
        <ng-template ngbSlide>
            <img src="./assets/cur/LMT_C_Type_7_LMT.png" style="border-radius:0px" alt="Random first slide">
            <div class="carousel-caption">
                <p> LMT C Type Goniophotometer & LMT Integrating Sphere</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/argosy_international_deformable_crash_barrier.jpg" style="border-radius:0px"
                alt="Random first slide">
            <div class="carousel-caption">
                <p>Argosy International Deformable Crash Barrier</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/9_ANCO_USA_Electric_Shake_Table.jpg" style="border-radius:0px"
                alt="Random first slide">
            <div class="carousel-caption">
                <p>ANCO USA Electric Shake Table </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/cur/10_ROTADATA_Turbine_Instrumentation.jpg" style="border-radius:0px"
                alt="Random first slide">
            <div class="carousel-caption">
                <p>ROTADATA Turbine Instrumentation</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mr-auto ml-auto">
                    <h2 class="title">Our Services</h2>
                    <h5 class="description" style="text-align: justify">
                        CONCORD INTERNATIONAL provides Instrumentation Services to the various branches of Indian
                        Industry. The Organisation is engaged in the marketing of Test and Measuring Equipments and
                        represent reputed manufacturers from abroad exclusively in India.
                        The Organisation has long standing association with major Industrial and Defence Establishments
                        in India, catering mainly to the following clientele:
                        <div class="main" style="margin-top: 15px;">
                            <ul>
                                <li>Indian Aerospace Industry</li>
                                <li>Defence Research Development Organisation</li>
                                <li>Department of Space</li>
                                <li>Automotive Industries</li>
                                <li>Government Research and Development Establishments</li>
                                <li> Public sector and Private sector Industries</li>
                            </ul>
                        </div>
                    </h5>
                    <div style="margin-bottom: 60px;">
                        <a href="#aboutus" class="btn btn-danger btn-round">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-productlist></app-productlist>


    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Let's talk about us</h2>
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-profile card-plain">
                        <div class="card-photo">
                            <div class="card-avatar">
                                <a href="/#/ravindranath"><img src="./assets/img/faces/founder.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="/#/ravindranath">
                                    <div class="author">
                                        <h4>K. T. Ravindranath</h4>
                                        <h6 class="card-category"> Founder President</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-block">
                                <a href="/#/ravindranath">
                                <p class="card-description text-center">
                                    K.T. Ravindranath’s  life was steered by his righteousness, integrity, honesty  and
                                    generosity. He constantly thrived to support and mentor his colleagues and grow his
                                    company
                                </p>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-profile card-plain">
                        <div class="card-photo">
                            <div class="card-avatar">
                                <a href="/#/charankumar"><img src="./assets/img/faces/Charan_03_052.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="/#/charankumar">
                                    <div class="author">
                                        <h4>B. Charan Kumar</h4>
                                        <h6 class="card-category"> Managing Director</h6>
                                    </div>
                                </a>
                                <a href="/#/charankumar">
                                <p class="card-description text-center">
                                    B. Charan Kumar has been
                                    instrumental in accomplishing several projects in the Automotive R&D, DRDO and
                                    Scientific research centres
                                    in India
                                </p>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section-ex">
        <div class="container container-page">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title text-center">Contact Us</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4"
                            placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill btn-round">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>